html {
    scroll-snap-type: y mandatory;
}
body {
    background-color: #249E94;
    color: white;
    font-family: "Zalando Sans Expanded";
}

section {
    scroll-snap-align: start;
    padding: 10px;
    text-align: center;
    height: 100vh;
}


